@charset "utf-8";
/*===============================================
リセット
===============================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin: 0; padding: 0;} table{ border-collapse: collapse; border-spacing: 0;} img{ border: none; vertical-align: bottom;} address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal; font-weight:normal;} article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display: block;}
a{ text-decoration: none; color: #111111;} a:hover{ text-decoration: underline;} label{ cursor: pointer;}
/*===============================================
共通
===============================================*/
body{
color: #333;
background: #ddd;
line-height: 1.6;
}
#puzzle {
  margin: 100px auto;
  width: 400px;
  position: relative;
  list-style: none;
}
#puzzle li {
  cursor: pointer;
  position: absolute;
}
